system_ext/priv-app/Settings_MFV/Settings_MFV.apk
system_ext/priv-app/SystemUI_MFV/SystemUI_MFV.apk
system_ext/partner-app/TencentDocs/TencentDocs.apk
system_ext/partner-app/NubiaBaiduSearch/NubiaBaiduSearch.apk
product/priv-app/GmsCore/GmsCore.apk
product/app/TrichromeLibrary64/TrichromeLibrary64.apk
system/system/priv-app/NubiaCamera/NubiaCamera.apk
system/system/priv-app/Nubia_PhotoEditor/Nubia_PhotoEditor.apk
system/system/priv-app/AIGeneration/AIGeneration.apk
system/system/priv-app/AIEngine_MFV/AIEngine_MFV.apk
system/system/priv-app/heartyservice_mfv/heartyservice_mfv.apk
system/system/priv-app/Gallery_Nubia_MFV/Gallery_Nubia_MFV.apk
system/system/priv-app/GameSpace/GameSpace.apk
system/system/priv-app/IntelliText_MFV/IntelliText_MFV.apk
system/system/etc/faceclassifier/faceclassifier.dlc
system/system/app/NubiaGameLab/NubiaGameLab.apk
system/system/app/LiveWallpaper_Axon_1080_2400_ne1c1d12i1_m14k12_m13k123/LiveWallpaper_Axon_1080_2400_ne1c1d12i1_m14k12_m13k123.apk
system/system/lib64/libzteFaceRecognitionModels.so
recovery.img
vendor/etc/camera/udc_512_512_12Binary.bin
vendor/etc/dts/dts-eagle.lic
